body {
    background-color: white;
    color: black;
    font-size: 120%;
    margin-left: 75px;
    margin-right: 75px;
}

p {
    background-color: white;
    color: black;
    font-size: 120%;
    margin-left: 75px;
    margin-right: 75px;
}

h1, h2 {
  background-color: white;
  color: black;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom:10px;
}

h3 {
  background-color: white;
  color: black;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom:10px;
}

a {
  color: #1665C0;
  text-decoration: none;
}

button {
  color: #1665C0;
  background-color: #F7F7F7;
  text-decoration: none;
}

nav {
    background-color: #F7F7F7;
    overflow: hidden;
    margin-left: 75px;
    width: 86.7%;
    position: sticky;
    top: 0;
}

nav a {
  float: left;
  text-align: center;
  padding: 17px 20px;
  font-size: 19px;
}

nav a:hover {
  background-color: #9C9DA2;
  color: black;
}

nav button {
  float: right;
  text-align: center;
}

ul, ol {
  margin-left: 65px;
  margin-right: 65px;
}

.dark-mode {color: #f8f8f2; background-color: #23252f;}
.dark-mode body {color: #f8f8f2; background-color: #23252f;}
.dark-mode p {color: #f8f8f2; background-color: #23252f;}
.dark-mode h1 {color: #ffffff; background-color: #23252f;}
.dark-mode h2 {color: #ffffff; background-color: #23252f;}
.dark-mode h3 {color: #f8f8f2; background-color: #23252f;}
.dark-mode a {color: #bbdefb;}
.dark-mode button {color: #bbdefb; background-color: #272935;}
.dark-mode a:hover {color: white; background-color: #23252f;}
.dark-mode nav {background-color: #272935;}




